.premium-element {
  background-color: $background;
  padding-bottom: 80px !important;
  .elementhead {
    position: relative;
    height: 64vh;
    display: flex;
    align-items: flex-end;
    padding: 50px 0;
    .premiumcontent {
      max-width: 45%;
      left: 49.5%;
      position: relative;
      @include min-xxl16 {
        max-width: 40%;
      }
      h3 {
        color: $primary;
        font-family: $ibrand;
        font-size: 2.5vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media (max-width: 992px) {
          font-size: 2.5rem;
        }
        @include min-xxl16 {
          font-size: 2.83vw;
        }
      }
      p {
        color: #232323;
        font-family: $urbanist;
        font-size: 1.21vw;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; /* 144.444% */
        @include min-xxl16 {
          font-size: 1.1rem;
        }
      }
    }
    h1 {
      position: absolute;
      margin-top: 50px;
      top: 0;
      left: 7%;
      z-index: 0;
      text-align: center;
      font-family: $ibrand;
      font-size: 24.5vw;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 100% */
      opacity: 0.1;
      background: linear-gradient(
        181deg,
        #353535 0.54%,
        rgba(178, 178, 178, 0) 86.96%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include min-xxl16 {
        font-size: 26.75vw;
      }
    }
    .offertitle {
      position: absolute;
      top: 48px;
      right: 85px;
      h4 {
        color: $dark-alt;
        text-align: center;
        -webkit-text-stroke-width: 0.20000000298023224;
        -webkit-text-stroke-color: #000;
        font-family: $comicsans;
        font-size: 1rem;
        font-style: italic;
        font-weight: 700;
        line-height: normal;
        position: relative;
        right: 4.5vw;
        top: -1vw;
        @include min-xxl16 {
          font-size: 1.2vw;
        }
        &::after {
          content: "";
          position: absolute;
          // bottom: 0;
          top: 27px;
          left: -30px;
          height: 100px;
          width: 200px;
          background-image: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"132\" height=\"103\" viewBox='0 0 132 103' fill='none'><path d='M11.8671 72.0299C14.7801 63.6529 19.9208 56.0731 26.698 50.3802C37.2432 41.5459 51.6687 37.466 65.2904 39.4932C73.2682 40.6714 81.3619 44.1995 85.8298 50.8948C90.2886 57.6208 89.7905 67.9001 83.267 72.6858C75.8944 78.0846 64.4398 73.7048 60.1101 65.6514C55.7498 57.5889 57.1046 47.5648 60.6107 39.0981C68.4951 20.0758 87.3738 6.19562 107.777 3.91378' stroke='%2314161D' stroke-width='1.97812' stroke-miterlimit='10' stroke-linecap='round' stroke-dasharray='3.95 3.95'/><path d='M6.69387 87.6747C6.88989 83.2196 6.46318 77.4298 5.12729 73.366L10.4655 78.3079C10.5152 78.3171 10.5623 78.3318 10.6068 78.3522C10.6514 78.3725 10.6935 78.3985 10.7329 78.4299L18.0146 78.8056C14.1916 80.6756 9.73602 84.418 6.69387 87.6747Z' fill='%2314161D'/></svg>");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
  .element-slider {
    .slider {
      margin-top: 22px;
      .swiper {
        .swiper-wrapper {
          transition-timing-function: linear;
          .swiper-slide {
            width: auto; /* Ensures each slide takes only as much width as its content */
            display: inline-block;
            .icon-container {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1vw;
              padding: 0.95vw 1.3vw;
              border-radius: 0.3vw;
              background: #fff;
              box-shadow: 0px 4px 8px 2px rgba(147, 147, 147, 0.1);
              img {
                height: 26px;
                width: fit-content;
                @include min-xxl16 {
                  height: 4vh;
                }
              }
              span {
                color: #2c2c2c;
                font-family: $Inter;
                font-size: 1.31vw;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include min-xxl16 {
                  font-size: 1.1vw;
                }
              }
            }
          }
        }
      }
    }
  }
  .premium-btn {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) -42.61%,
      #f0f4f9 85.74%
    );
    padding-top: 95px;
    padding-bottom: 40px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    a {
      font-size: 1.6vw;
      padding: 19px 34px;
      font-weight: 500;
    }
  }
}
