// pricing_plan

.pricing_plan {
    position: relative;
    z-index: 1;
    padding: 5.12vw 0 3.66vw !important;

    .video_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        overflow: hidden;

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(5.27vw);
            z-index: 1;
        }
    }

    .pricing_items_group {
        display: flex;
        gap: 5.12vw;
        padding: 4.02vw;
        padding-top: 4.68vw;
        padding-bottom: 4.68vw;
        color: $light;

        @include min-xxl{
            padding: 2.02vw;
            padding-top: 4.68vw;
        }

        .pricing_item {
            position: relative;
            border-radius: 2.19vw;
            padding: 2.56vw 1.09vw;
            background: linear-gradient(174deg,
            rgba(0, 0, 0, 0.2) -2.06%,
            rgba(135, 135, 135, 0.2) 70.4%);
            min-height: 72.48vh;
            
            @include min-xxl{
                min-height: 57.292vh;
                padding: 2.562vw 1.098vw;
            }
            /* Background */

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 2.19vw;
                padding: 0.073vw;
                background: linear-gradient(110deg,
                        #0039ff 12%,
                        rgba(71, 64, 68, 0) 80%,
                        #aaaaaa 100%);
                -webkit-mask: linear-gradient(#aaaaaa 0 0) content-box,
                    linear-gradient(#aaaaaa 0 0);
                mask: linear-gradient(#aaaaaa 0 0) content-box,
                    linear-gradient(#aaaaaa 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
                pointer-events: none;
            }

            .item_title {
                color: $light;
                font-family: $urbanist;
                font-size: 1.75vw;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 0.58vw;

                @include min-xxl{
                    font-size: 1.757vw;
                }
            }

            .item_desc {
                color: #d3d3d3;
                font-family: $urbanist;
                font-size: 1.17vw;
                font-style: normal;
                font-weight: 500;
                line-height: 1.61vw;
                
                @include min-xxl{
                    line-height: 1.611vw;
                    font-size: 1.171vw;
                }
            }

            .price_value {
                padding: 1.171vw 0;

                h1 {
                    color: $light;
                    font-family: $urbanist;
                    font-size: 3.95vw;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;

                    span {
                        font-size: 1.75vw;
                    }
                }
            }

            .bd-btn-link {
                display: flex;
                padding: 0.73vw;
                border-radius: 0.73vw;
                border: 0.073vw solid #fff;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-weight: 600;
                font-size: 1.17vw;
                transition: all 0.3s linear;

                &:hover {
                    border: 0.073vw solid $light;
                    background-color: $secondary;
                    color: $primary;
                    background-color: $secondary;
                }
            }

            .icon_list {
                padding: {
                    top: 2.34vw;
                    left: 0.99vw;
                }

                li {
                    display: flex;
                    align-items: center;
                    gap: 0.73vw;

                    &:not(:last-child) {
                        margin-bottom: 1.2rem;
                    }

                    .list_item_text{
                        font-size: 1.17vw;
                    }
                }
            }

            &.active {
                scale: 1.12;
                background: linear-gradient(173deg,
                        rgba(255, 255, 255, 0.2) -14.73%,
                        rgba(135, 135, 135, 0.08) 66.37%);
                box-shadow: 2px 2px 44px 0px rgba(0, 0, 0, 0.29);

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 2.19vw;
                    /* Same border radius */
                    padding:0.073vw;
                    /* Border width */
                    background: linear-gradient(160deg,
                            #00d1ff 12%,
                            rgba(71, 64, 68, 0) 53%,
                            #ffffff 100%);
                    -webkit-mask: linear-gradient(#fff 0 0) content-box,
                        linear-gradient(#fff 0 0);
                    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    -webkit-mask-composite: destination-out;
                    mask-composite: exclude;
                    pointer-events: none;
                }

                .bd-btn-link {
                    border:0.073vw solid $light;
                    background-color: $secondary;
                    color: $primary;
                    background-color: $secondary;
                }

                .icon_list {
                    .list_item_icon {
                        svg {
                            path {
                                &:last-child {
                                    fill: $secondary;
                                }

                                &:first-child {
                                    fill: $primary;
                                }
                            }
                        }
                    }

                    .list_item_text{
                        font-size: 1.17vw;
                    }
                }
            }

            &:last-child {
                background: linear-gradient(174deg,
                        rgba(0, 0, 0, 0.2) -2.06%,
                        rgba(135, 135, 135, 0.2) 70.4%);
            }
        }
    }
}