// Varibales

// // Colors
$primary: #122C65;
$secondary: #8AFAF3;
$tertiary: #09099b;
$light: #ffffff;
$light-alt: #f0f0f0;
$dark: #000000;
$dark-alt: #020B1F;
$grey: #555; 
$background: #EEF3F8;
$gradient: linear-gradient(147deg, #001f63 26.64%, #5c00f3 120.1%);

// // Font Family
$urbanist: "Urbanist", sans-serif;
$ibrand: "Ibrand", sans-serif;

// // Break Points
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
