.themelist-container {
  .list-header {
    background: $primary;
    padding: 1vw 0;
    @media (max-width: 992px) {
      padding: 10px 0;
    }
    .container {
      display: flex;
      justify-content: space-between;
      .dropdown {
        position: relative;
        display: inline-block;
        .dropdown-btn {
          display: flex;
          height: 8vh;
          padding: 0 1.3vw;
          justify-content: flex-end;
          align-items: center;
          gap: 6.7vw;
          font-family: "Urbanist", sans-serif;
          color: #122c65;
          font-size: 1.5vw;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          background: #ffffff;
          border: none;
          box-shadow: none;
          outline: none;
          border-radius: 10px;
        }
        .dropdown-content {
          position: absolute;
          z-index: 1;
          width: auto;
          .megamenu {
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            background: $light;
            box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.05);
            display: flex;
            padding: 20px;
            margin-top: 0.8vw;
            justify-content: space-around;
            .menu-column {
              flex: 1;
              width: 170px;

              ul {
                list-style-type: none;
                padding: 0;
                li {
                  margin-bottom: 20px;
                  &:last-child {
                    margin-bottom: 0;
                  }
                  a {
                    text-decoration: none;
                    color: #4b4b4b;
                    font-family: $urbanist;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: capitalize;
                    display: flex;
                    gap: 0 10px;
                    align-items: center;
                    transition: all 0.5s linear;
                    &:hover {
                      font-weight: 600;
                      color: $primary;
                    }
                    &.active {
                      font-weight: 600;
                      color: $primary;
                    }

                    img {
                      height: 15px;
                      width: auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .pagename {
        ul {
          display: flex;
          gap: 2px;
          align-items: center;
          height: 100%;
          li {
            color: $light;
            font-family: $urbanist;
            font-size: 1.4vw;
            font-style: normal;
            line-height: normal;
            @media (max-width: 992px) {
              font-size: 20px;
            }
            &.active {
              font-weight: 700;
              color: $secondary;
            }
          }
        }
      }
    }
  }
  .listbody {
    padding: 60px 0;
    .body-header {
      .section_heading {
        h2 {
          font-size: 3.6vw;
          font-weight: 400;
          padding-bottom: 15px;
          @media (max-width: 992px) {
            font-size: 52px;
          }
        }
      }
    }
    .body-main {
      margin-top: 70px;
      .search-container {
        .search {
          position: relative;
          margin-bottom: 2.7vh;
          input {
            padding: 0.8vw 0.8vw 0.8vw 2.9vw;
            border-radius: 8px;
            background: $light;
            border: none;
            outline: none;
            width: 90%;
            font-size: 1.2vw;
            font-weight: 400;
            color: $dark;

            &::placeholder {
              font-size: 1.2vw;
              font-weight: 400;
              color: #727272;
            }
          }
          .serchicon {
            position: absolute;
            left: 15px;
            // top: 0;
            // transform: translateY(8px);
            img {
              width: 1.2vw;
            }
          }
        }
        .filter {
          text-align: end;

          .dropdown {
            position: relative;
            display: inline-block;
            .dropdown-btn {
              display: flex;
              height: 46px;
              padding: 10px 8px 10px 15px;
              justify-content: flex-end;
              align-items: flex-start;
              gap: 11px;
              font-family: $urbanist;
              color: $primary;
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              background: transparent;
              border: none;
              box-shadow: none;
              outline: none;
              border-radius: 10px;
              .btntext {
                color: var(--Primary, #777);
                font-family: $urbanist;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                .catagory {
                  font-size: 18px;
                  color: $primary;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  margin-left: 5px;
                }
              }
            }
            .dropdown-content {
              position: absolute;
              right: 0;
              z-index: 11;
              width: auto;
              .megamenu {
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                background: $light;
                box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.05);
                display: flex;
                padding: 20px;
                justify-content: space-around;
                .menu-column {
                  ul {
                    list-style-type: none;
                    padding: 0;
                    li {
                      margin-bottom: 20px;
                      &:last-child {
                        margin-bottom: 0;
                      }
                      a {
                        color: $dark;
                        font-family: $urbanist;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-transform: capitalize;
                        display: flex;
                        gap: 0 10px;
                        align-items: center;
                        justify-content: space-between;
                        transition: all 0.5s linear;
                        &.selected {
                          font-weight: bold;
                        }
                        img {
                          height: 15px;
                          width: auto;
                          display: none;
                        }
                        &.active {
                          img {
                            height: 15px;
                            width: auto;
                            display: block;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .theme-container {
        margin-top: 90px;
        .row {
          gap: 7.5vw 0;
          .theme-box {
            position: relative;
            margin: 0 0.9vw;
            padding: 1px;
            display: block;
            .theme-card {
              border-radius: 13.539px;
              display: block;
              padding: 1.1px;
              background: #fff;
              overflow: hidden;
              transition: 0.5s all ease;
            }
            .theme-card-body {
              background: $light;
              padding: 0 23px 15px;
              border-radius: 13.539px;
              overflow: hidden;
              position: relative;
            }
            // &::before {
            //   // content: "";
            //   height: 100%;
            //   width: 100%;
            //   top: 0;
            //   border-radius: 1.2vw;
            //   left: 50%;
            //   transform: translateX(-50%);
            //   border-radius: 13.539px;
            //   opacity: 0;
            //   z-index: 0;
            //   position: absolute;
            //   // transform: translate(-1px, -1px);
            //   //background-color: rgba(0, 0, 0, 0.5);
            //   //border-image: linear-gradient(-180deg, rgba(0, 31, 99, 0) 5.88%, rgba(4, 34, 99, 0.2) 17.88%, rgba(7, 36, 100, 0.4) 29.88%, rgba(11, 39, 100, 0.6) 41.88%, rgba(14, 41, 101, 0.8) 53.88%, rgb(18, 44, 101) 65.88%, rgb(66, 255, 255) 95.36%) 1;
            //   // background: linear-gradient(
            //   //   180deg,
            //   //   rgba(0, 31, 99, 0) 5.88%,
            //   //   rgba(4, 34, 99, 0.2) 17.88%,
            //   //   rgba(7, 36, 100, 0.4) 29.88%,
            //   //   rgba(11, 39, 100, 0.6) 41.88%,
            //   //   rgba(14, 41, 101, 0.8) 53.88%,
            //   //   rgb(18, 44, 101) 65.88%,
            //   //   rgb(66, 255, 255) 95.36%
            //   // );
            //   background: var(
            //     --hower-border,
            //     linear-gradient(
            //       187deg,
            //       rgba(0, 31, 99, 0) 37.6%,
            //       #122c65 79.95%,
            //       #42ffff 100.76%
            //     )
            //   );
            //   transition: all 0.5s linear;
            //   // -webkit-transform: translate(-1px, -1px);
            //   // -moz-transform: translate(-1px, -1px);
            //   // -ms-transform: translate(-1px, -1px);
            //   // -o-transform: translate(-1px, -1px);
            // }
            // &::after {
            //   // content: "";
            //   // height: 99.6%;
            //   // width: 99.5%;
            //   // top: 0;
            //   // border-radius: 1.2vw;
            //   // left: 50%;
            //   // transform: translateX(-50%);
            //   height: 99.6%;
            //   width: 98.9%;
            //   top: 0;
            //   border-radius: 1.2vw;
            //   left: 49.9%;
            //   transform: translateX(-50%);
            //   border-radius: 13.539px;
            //   z-index: 1;
            //   position: absolute;
            //   background: $light;
            // }
            .themeimg {
              transform: translateY(-60px);
              margin-bottom: -40px;
              transition: all 0.5s linear;
              position: relative;
              z-index: 2;
              position: absolute;
              top: 2%;
              height: auto;
              display: flex;
              justify-content: center;
              position: absolute;
              top: -18%;
              left: 50%;
              width: 22vw;
              height: auto;
              display: flex;
              justify-content: center;
              transform: translateX(-50%);
              img {
                height: 100%;
                width: 100%;
                transition: 0.5s all ease;
              }
            }
            .themeheading {
              display: flex;
              //   justify-content: center;
              position: relative;
              z-index: 3;
              transition: all 0.5s linear;
              align-items: flex-end;
              min-height: 52vh;
              h3 {
                color: $dark;
                // text-align: center;
                font-family: $urbanist;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                // margin-left: 38%;
                transition: all 0.5s linear;
                height: 56px;
                display: flex;
                align-items: center;
                position: relative;
                transform: translateX(-50%);
                left: 50%;
              }
              .arrow {
                opacity: 0;
                align-items: center;
                background: $primary;
                border-radius: 50%;
                transition: all 0.5s linear;
                position: absolute;
                z-index: -1;
                right: 0;
              }
            }
            .readmore {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              transform: translateY(-60px);
              opacity: 0;
              transition: all 0.5s linear;
              z-index: 2;
              h5 {
                border-radius: 6px;
                opacity: 0.9;
                background: #000000dc;
                backdrop-filter: blur(10px);
                display: inline-flex;
                height: 40px;
                padding: 10px 18px 10px 17px;
                justify-content: center;
                align-items: flex-start;
                gap: 8px;
                flex-shrink: 0;
                color: $light;
                text-align: center;
                font-family: $urbanist;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
            }
            &:hover {
              .theme-card {
                background: var(
                  --hower-border,
                  linear-gradient(
                    187deg,
                    rgba(0, 31, 99, 0) 37.6%,
                    #122c65 79.95%,
                    #42ffff 100.76%
                  )
                );
              }
              &::before {
                opacity: 1;
              }
              .themeimg {
                img {
                  transform: scale(1.05);
                  // transform: translateY(-60px);
                }
              }
              .themeheading {
                // justify-content: flex-start;
                h3 {
                  transform: translateX(-0%);
                  left: 0%;
                }
                .arrow {
                  opacity: 1;
                }
              }
              .readmore {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
