.banner-cc {
  .heades {
    h2 {
      font-size: 4.1vw !important;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 80%;
      margin: auto;
    }
  }
  .image {
    padding-bottom: 5vw;
  }
}
