// BroweThemesBtn

.BroweThemesBtn {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateX(39%) translateY(-50%) rotate(270deg);
  z-index: 1000;

  .btn-fixed {
    position: relative; // Make the button relative for positioning child elements
    padding: 10px 60px;
    overflow: hidden; // Hide overflow
    border-radius: 20px 20px 0 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    video {
      position: absolute; // Position video absolutely within the button
      top: 0;
      left: 0;
      width: 100%; // Cover the entire button
      height: 100%;
      object-fit: cover; // Maintain aspect ratio and cover the button
      z-index: 0; // Place behind the text
    }

    a {
      position: relative; // Make link position relative to sit above video
      color: $secondary;
      font-family: $urbanist;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
      z-index: 1; // Ensure text is above the video
    }
  }
}

// Hero

.hero {
  position: relative;
  background-color: $background;

  .bg-texts {
    h2 {
      text-align: center;
      font-size: 12.2vw;
      font-weight: 700;
      visibility: hidden; /* Start hidden */
      opacity: 0; /* Prevents display issues */
      transition: visibility 0s, opacity 0.5s linear;
      &:nth-child(1) {
        // background: var(
        //   --Innovation,
        //   linear-gradient(167deg, #ccfffc 31.89%, #eef3f8 78.33%)
        // );
        animation: textShine 3s linear infinite;
        // background:  linear-gradient(185deg, #CCFFFC 62.89%, #EEF3F8 78.33%);
        text-align: start;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &:nth-child(2) {
        // color: rgba(226, 229, 235, 0.5);
        text-align: center;
        animation: textShine2 3s linear infinite;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &:nth-child(3) {
        // color: rgba(226, 229, 235, 0.5);
        text-align: end;
        animation: textShine 3s linear infinite;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);

    h2 {
      color: $dark-alt;
      text-align: center;
      font-family: $ibrand;
      font-size: 7.7vw;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      text-align: center;
    }
  }
}

// Domain Name
.domain-name {
  .container {
    padding: 0 6vw;
  }

  .step-cards {
    .card {
      margin-bottom: 15px;
      padding: 17px 25px 17px;
      border-radius: 10px;
      border: 0;
      height: 52px;

      .step {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
      }

      &:nth-child(1) {
        background: $light;

        .step {
          color: $primary;
        }
      }

      &:nth-child(2) {
        background: $primary;

        .step {
          color: $light;
        }
      }

      &:nth-child(3) {
        background: $light;

        .step {
          color: $primary;
        }
      }

      .inner-text {
        opacity: 0;

        .in-step {
          color: #fff;
          font-size: 15px;
          font-weight: 600;
          line-height: 1.3;
        }

        h5 {
          color: $secondary;
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: 1.3;
        }
      }

      &.active {
        height: 140px;

        .inner-text {
          opacity: 1;
        }

        .step {
          display: none;
        }
      }
    }
  }

  .domain-video {
    border-radius: 40px;
    overflow: hidden;

    video {
      border-radius: 40px;
    }
  }

  .text-card {
    border-radius: 20px;
    background: $light;
    padding: 50px 17px;

    p {
      font-size: 15px;
      font-weight: 500;
      color: $dark;
    }
  }

  .numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .num {
      display: inline-block;
      height: 45px;
      width: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: $light;
      font-size: 16px;
      box-shadow: 0 0 10px #39393b42;

      &:nth-child(1) {
        background: $secondary;
        z-index: 3;
      }

      &:nth-child(2) {
        position: relative;
        background: var(--Pri-sec,
            linear-gradient(89deg, #8afaf3 -10.35%, #122c65 108.09%));
        right: 12px;
        z-index: 2;
      }

      &:nth-child(3) {
        background: $primary;
        position: relative;
        right: 24px;
        z-index: 1;
      }
    }
  }
}

.experty-build {
  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cta-heading {
    text-align: center;
    padding: 30px 0;
    width: 110%;
    position: relative;
    z-index: 1;
    transition: z-index .3s ease-in-out;


    a {
      text-align: center;
      display: inline-flex;
      justify-content: center;
      transition: all 0.53s ease-in-out;


      h4 {
        color: #fff;
        text-align: center;
        font-family: $urbanist;
        font-size: 30px;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        position: relative;
        width: fit-content;
        transition: all 0.53s ease-in-out;

      }

      .headingss {
        position: absolute;
        z-index: 1;
        opacity: 0;
        top: 50%;
        left: 50%;
        visibility: hidden;
        transform: translate(-50%, -50%);
        transition: all 0.53s ease-in-out;

        &::after {
          position: absolute;
          content: "";
          display: block;
          width: 38px;
          height: 18px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='18' viewBox='0 0 38 18' fill='none'%3E%3Cpath d='M36.7356 7.97248C36.7351 7.97204 36.7348 7.97153 36.7342 7.9711L29.1493 0.422705C28.581 -0.142771 27.662 -0.140667 27.0963 0.42764C26.5308 0.995874 26.533 1.91496 27.1012 2.48051L32.1937 7.54839L1.45161 7.54839C0.649887 7.54839 -3.81761e-09 8.19827 -4.19094e-09 9C-4.56427e-09 9.80173 0.649887 10.4516 1.45161 10.4516L32.1937 10.4516L27.1013 15.5195C26.533 16.085 26.5309 17.0041 27.0964 17.5724C27.662 18.1407 28.5812 18.1427 29.1493 17.5773L36.7343 10.0289C36.7348 10.0285 36.7351 10.028 36.7356 10.0275C37.3042 9.46009 37.3023 8.53802 36.7356 7.97248Z' fill='white'/%3E%3C/svg%3E");
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          z-index: 11;
          right: -25px;
          opacity: 0;
          top: 50%;
          transform: translateY(-50%);
          transition: all 0.53s ease-in-out;
        }
      }
      
    }

    &:hover {
      z-index: 2;
      a {

        h4 {
          opacity: 0;
          visibility: hidden;
        }
        .headingss {
          opacity: 1;
          display: block;
          visibility: visible;

          &::after {
            opacity: 1;
            right: -53px;
          }
        }

      }
      
    }

    &:nth-child(1) {
      transform: rotate(1.3deg);
      background: $primary;
    }

    &:nth-child(2) {
      transform: rotate(-1.1deg);
      background: $secondary;
    }

    &:nth-child(3) {
      transform: rotate(0.3deg);
      background: $tertiary;
    }
  }
}

// Ready to Explore
.ready-to-explore {
  .heading {
    margin-bottom: 50px;
  }

  .thumbslider {
    .swiper-slide {
      height: 70px !important;
      border-radius: 15px;
      overflow: hidden;
      transition: 0.5s all ease;
      position: relative;

      .thumb {
        display: flex;
        align-items: start;
        gap: 15px;
        padding: 20px;
        z-index: 3;
        position: relative;
        border-radius: 15px;
        height: 98.5%;

        .icon {
          svg {
            width: 30px;
            margin-top: -7px;
          }
        }

        .text {
          h4 {
            color: $dark-alt;
            font-size: 20px;
            font-weight: bold;

            @media (max-width: $lg-breakpoint) {
              font-size: 20px;
            }
          }

          p {
            color: #232323;
            font-size: 14px;
            font-weight: 500;
            margin-top: 10px;
            opacity: 0;
            transition: 0.5s all ease;

            @media (max-width: $lg-breakpoint) {
              font-size: 14px;
            }
          }
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 15%;
        z-index: 0;
        // border-bottom: 1px solid #630707;
        background: linear-gradient(90deg, #8afaf3 0%, #122c65 78.57%);
      }

      &.swiper-slide-thumb-active.swiper-slide-visible {
        height: 138px !important;
        background: #ededed;

        .thumb {
          background: $primary;
        }

        .icon {
          svg {
            path {
              fill: $secondary;
            }
          }
        }

        .text {
          h4 {
            color: $secondary;
          }

          p {
            opacity: 1;
            color: $light;
          }
        }

        &::after {
          width: 100%;
          transition: 5s all ease;
        }
      }
    }
  }

  .navslider {
    .video-slide {
      border-radius: 15px;
      overflow: hidden;

      video {
        height: 100%;
        width: 100%;
        border-radius: 15px;
      }
    }
  }
}

// Start Sucess
.start-sucess {
  position: relative;

  .marquee {
    background-color: $primary;
    padding: 20px 0 10px;
    width: 100%;
    display: flex;
    gap: 15px;
    overflow: hidden;

    .headings {
      width: 100%;
      display: flex;
      gap: 15px;
      padding: 10px 0;
      flex-wrap: nowrap;
      animation: marquee 25s linear infinite;

      @keyframes marquee {
        from {
          transform: translateX(0%);
        }

        to {
          transform: translateX(-100%);
        }
      }

      h4 {
        color: $secondary;
        font-family: $ibrand;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        white-space: nowrap;
      }
    }
  }
}

// Vouch For Us

.Vouch_wrapper {
  height: 100%;
  position: relative;
  margin-top: 3rem;

  .Vouch_slider {
    padding-bottom: 2rem;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(450 / 14.4 * 1rem) !important;

    .videoSlider_videoWrap {
      position: relative;
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.6;
      overflow: clip;
      transition: opacity 0.2s linear, width 0.2s cubic-bezier(0.25, 1, 0.5, 1),
        height 0.2s cubic-bezier(0.25, 1, 0.5, 1);

      .videoSlider_info_content {
        .admin_name {
          color: $dark;
          text-align: center;
          font-family: $urbanist;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .admin_designation {
          color: rgba(0, 0, 0, 0.8);
          text-align: center;
          font-family: $urbanist;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
        }
      }

      .video_button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        border: none;

        video {
          height: 100%;
          object-fit: cover;
          display: inline-block;
          vertical-align: baseline;
        }

        .button_wrap {
          position: absolute;
          display: flex;
          width: 50px;
          height: 50px;
          padding: 16px;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          background: $primary;
          border-radius: 7px;
        }
      }
    }

    &.swiper-slide-active {
      height: calc(420 / 14.4 * 1rem) !important;
      transition: height 0.9s ease-in-out;

      .videoSlider_videoWrap {
        opacity: 1;
      }
    }
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .videoSlider_cornerWrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    padding-top: 5px;

    .videoSlider_corners {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56vw;
      height: calc(400 / 14.4 * 1rem);
      transition: all 0.2s cubic-bezier(0.25, 1, 0.5, 1);
    }

    .global_corners {
      --gfs: 14.4;
      background: linear-gradient(to right,
          #122c65 calc(2 / var(--gfs) * 1rem),
          transparent calc(1 / var(--gfs) * 1rem)) 0 0,
        linear-gradient(to right,
          #122c65 calc(2 / var(--gfs) * 1rem),
          transparent calc(1 / var(--gfs) * 1rem)) 0 100%,
        linear-gradient(to left,
          #122c65 calc(2 / var(--gfs) * 1rem),
          transparent calc(1 / var(--gfs) * 1rem)) 100% 0,
        linear-gradient(to left,
          #122c65 calc(2 / var(--gfs) * 1rem),
          transparent calc(1 / var(--gfs) * 1rem)) 100% 100%,
        linear-gradient(to bottom,
          #122c65 calc(2 / var(--gfs) * 1rem),
          transparent calc(1 / var(--gfs) * 1rem)) 0 0,
        linear-gradient(to bottom,
          #122c65 calc(2 / var(--gfs) * 1rem),
          transparent calc(1 / var(--gfs) * 1rem)) 100% 0,
        linear-gradient(to top,
          #122c65 calc(2 / var(--gfs) * 1rem),
          transparent calc(1 / var(--gfs) * 1rem)) 0 100%,
        linear-gradient(to top,
          #122c65 calc(2 / var(--gfs) * 1rem),
          transparent calc(1 / var(--gfs) * 1rem)) 100% 100%;
      background-repeat: no-repeat;
      background-size: calc(12 / var(--gfs) * 1rem) calc(12 / var(--gfs) * 1rem);
    }
  }

  .custom-pagination {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    transition: all 0.5s ease-in-out;

    .pagination-item {
      color: $dark;
      text-align: center;
      font-family: $urbanist;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 14px;
      transition: all 0.5s ease-in-out;
      position: relative;
      display: inline-block;

      &::after {
        content: "...";
        width: 17px;
        height: 22px;
        font-size: 25px;
        line-height: 22px;
        position: absolute;
        bottom: 0px;
      }

      &.active {
        color: $primary;
        font-size: 22px;
        line-height: 22px;
        transition: all 0.5s ease-in-out;

        &::after {
          content: "...";
          color: $dark;
        }
      }
    }
  }
}

.fullscreen-modal .modal-dialog {
  max-width: 100%;
  width: 100%;
  margin: 0;
}

.fullscreen-modal .modal-content {
  background-color: transparent;
  border: none;
}

.fullscreen-modal {
  .modal-body {
    padding: 0;
  }

  .close-btn {
    position: absolute;
    right: 40px;
    top: 20px;
    z-index: 999;
    border: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: rotate(180deg);
    }
  }

  video {
    height: 100vh;
    /* Fullscreen height */
  }
}

// blog_section_home"

.blog_section_home {
  position: relative;

  .blog_grouped {
    border-radius: 40px;
    margin-top: 3rem;
    background: $light;
    padding: 55px;
    padding-bottom: 35px;

    .blog_item {
      padding: 20px;
      border-radius: 30px;
      background: #eaf0f6;
      position: relative;
      margin-bottom: 1.5rem;
      min-height: 180px;
      display: flex;
      align-items: flex-end;
      transition: all 0.3s linear;

      .item_arrow {
        position: absolute;
        right: 10px;
        top: 10px;
        transition: all 0.3s linear;
        overflow: hidden;
        .circle{
          background: $light;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          overflow: hidden;
          transition: all  0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
          svg {
            transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
            &.svg2{
              transform: translate(-44px, 0px);
            }
          }
        }
        
      }

      .item_content {
        .post_date {
          display: inline-block;
          color: #8c9399;
          font-family: $urbanist;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
        }

        .item_title {
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 26px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;

          a {
            color: $primary;
            font-family: $urbanist;
            display: inline;
            padding-bottom: 0;
            transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
            background-image: linear-gradient(to bottom,
                currentColor 0%,
                currentColor 98%);
            background-size: 0 1px;
            background-repeat: no-repeat;
            background-position: left 100%;
            overflow: visible !important;
          }
        }
      }

      &:hover {
        background: $secondary;
        cursor: pointer;

        .item_arrow {
          // transform: rotate(45deg);
          .circle{
            background: $primary;
            svg {
              transform: translate(44px, -44px);
              &.svg2{
                transform: translate(0px, -41px);
              }
              circle {
                fill: $primary;
              }
  
              path {
                fill: $light;
              }
            }
          }
          
        }
        .item_content {
          .item_title {
            a {
              text-decoration: none;
              background-size: 100% 1px;
            }
          }
        }
      }
    }
  }

  .btn_wrap {
    padding-top: 1rem;

    .btn_primary {
      color: $primary;
      font-family: $urbanist;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
      /* 130% */
    }
  }
}

// pricing_plan

.pricing_plan {
  position: relative;
  z-index: 1;
  padding: 70px 0 50px !important;

  .video_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(72px);
      z-index: 1;
    }
  }

  .pricing_items_group {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 55px;
    padding: 4rem 0;
    color: $light;

    .pricing_item {
      position: relative;
      border-radius: 30px;
      padding: 35px 15px;
      background: linear-gradient(174deg,
          rgba(0, 0, 0, 0.2) -2.06%,
          rgba(135, 135, 135, 0.2) 70.4%);
      min-height: 440px;
      /* Background */

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 30px;
        padding: 1px;
        background: linear-gradient(110deg,
            #0039ff 12%,
            rgba(71, 64, 68, 0) 80%,
            #aaaaaa 100%);
        -webkit-mask: linear-gradient(#aaaaaa 0 0) content-box,
          linear-gradient(#aaaaaa 0 0);
        mask: linear-gradient(#aaaaaa 0 0) content-box,
          linear-gradient(#aaaaaa 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        pointer-events: none;
      }

      .item_title {
        color: $light;
        font-family: $urbanist;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 0.5rem;
      }

      .item_desc {
        color: #d3d3d3;
        font-family: $urbanist;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
      }

      .price_value {
        padding: 1rem 0;

        h1 {
          color: $light;
          font-family: $urbanist;
          font-size: 54px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;

          span {
            font-size: 24px;
          }
        }
      }

      .bd-btn-link {
        display: flex;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #fff;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        transition: all 0.3s linear;

        &:hover {
          border: 1px solid $light;
          background-color: $secondary;
          color: $primary;
          background-color: $secondary;
        }
      }

      .icon_list {
        padding: {
          top: 2rem;
          left: 0.85rem;
        }

        li {
          display: flex;
          align-items: center;
          gap: 10px;

          &:not(:last-child) {
            margin-bottom: 1.2rem;
          }
        }
      }

      &.active {
        scale: 1.12;
        background: linear-gradient(173deg,
            rgba(255, 255, 255, 0.2) -14.73%,
            rgba(135, 135, 135, 0.08) 66.37%);
        box-shadow: 2px 2px 44px 0px rgba(0, 0, 0, 0.29);

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 30px;
          /* Same border radius */
          padding: 1px;
          /* Border width */
          background: linear-gradient(160deg,
              #00d1ff 12%,
              rgba(71, 64, 68, 0) 53%,
              #ffffff 100%);
          -webkit-mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
          mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          -webkit-mask-composite: destination-out;
          mask-composite: exclude;
          pointer-events: none;
        }

        .bd-btn-link {
          border: 1px solid $light;
          background-color: $secondary;
          color: $primary;
          background-color: $secondary;
        }

        .icon_list {
          .list_item_icon {
            svg {
              path {
                &:last-child {
                  fill: $secondary;
                }

                &:first-child {
                  fill: $primary;
                }
              }
            }
          }
        }
      }

      &:last-child {
        background: linear-gradient(174deg,
            rgba(0, 0, 0, 0.2) -2.06%,
            rgba(135, 135, 135, 0.2) 70.4%);
      }
    }
  }
}
@keyframes textShine {
 
  0%{
    background: linear-gradient(167deg, rgba(226, 229, 235, 0.50) 31.89%, #EEF3F8  78.33%);
    background-clip: text;
    opacity: 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background:   linear-gradient(180deg, #CCFFFC 31.89%, #EEF3F8 78.33%);
    opacity: 1;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
 
}

@keyframes textShine2 {
  0% {
    background:  linear-gradient(167deg, #fff 78.33%);
    background-clip: text;
    opacity: 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50%{
    background:  linear-gradient(180deg, #ced1d680 31.89%, #EEF3F8 78.33%);
    background-clip: text;
    opacity: 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}
.visible {
  visibility: visible;
  opacity: 1; /* Fully visible */
}