.footer {
  position: relative;

  .footer-cta {
    background-color: #0c2661;

    .content {
      display: inline-flex;
      padding: 42px 0;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      h3 {
        &.text {
          color: $light;
          font-family: $ibrand;
          font-size: 2.25rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        &.email {
          a {
            color: #e2e2e2;
            font-family: $urbanist;
            font-size: 3.62rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration: none;
            display: inline;
            padding-bottom: 0;
            transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
            background-image: linear-gradient(
              to bottom,
              currentColor 0%,
              currentColor 98%
            );
            background-size: 0 2px;
            background-repeat: no-repeat;
            background-position: left 90%;
            overflow: visible !important;

            // Apply the animation
            animation: backgroundSizeRepeatAnimation 4s ease-in-out infinite;

            // Adding keyframes for the repeat animation
            @keyframes backgroundSizeRepeatAnimation {
              0% {
                background-size: 0 2px;
              }

              50% {
                background-size: 100% 2px;
              }

              100% {
                background-size: 0 2px;
              }
            }

            &:hover {
              color: $secondary;
            }
          }
        }
      }
    }
  }

  .footer-liks {
    background: $primary;
    padding: 33px 0 10px;

    .footer-box {
      h4 {
        color: $light;
        font-family: $urbanist;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 16px;
      }

      ul {
        li {
          margin-bottom: 10px;

          a {
            color: #d3d3d3;
            font-family: $urbanist;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
            transition: all 0.3s linear;
          }

          &:hover {
            a {
              color: $secondary;
            }
          }
        }
      }
    }

    .social {
      //   display: flex;
      //   align-items: center;
      //   justify-content: space-between;

      h2 {
        a {
          color: #fff;
          font-family: $ibrand;
          font-size: 6.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          // background: linear-gradient(
          //   130deg,
          //   rgb(30 29 29) 8%,
          //   #ffffff 10%,
          //   #ffffff 12%,
          //   rgb(5 5 5) 15%
          // );
          background: linear-gradient(
            130deg,
            #d7d0cf 8%,
            #ffffff 9%,
            #ffffff 14%,
            #d7d0cf 15%
          );
          background-size: 200%;
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          animation: shine-text 4s infinite;
        }
      }

      @keyframes shine-text {
        0% {
          background-position: 200%;
        }
        100% {
          background-position: -200%;
        }
      }

      ul {
        display: flex;
        align-items: center;
        padding-left: 50px;

        li {
          a {
            color: #fff;
            transition: all 0.3s linear;

            &.twitter {
              display: flex;
              gap: 0px;
              justify-content: center;
              span {
                display: none;
                i {
                  font-style: normal;
                }
                &.x {
                  display: block;
                  text-decoration: none;
                  opacity: 1;
                }
              }
            }
          }

          &:hover {
            a {
              color: $secondary;
              &.twitter {
                span {
                  display: block;
                  opacity: 1;
                  text-decoration: line-through;
                  i {
                    opacity: 0;
                  }
                  &.x {
                    text-decoration: none;
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }

    .copyright {
      display: flex;
      padding: 15px 0;
      justify-content: space-between;

      p {
        color: #d3d3d3;
        font-family: $urbanist;
        font-size: 0.91rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        a {
          color: #d3d3d3;
          font-family: $urbanist;
          font-size: 0.91rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          transition: all 0.3s linear;

          &:hover {
            color: $secondary;
          }
        }
      }

      .term {
        display: flex;
        gap: 20px;

        a {
          color: #d3d3d3;
          font-family: $urbanist;
          font-size: 0.91rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          transition: all 0.3s linear;

          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }
}

.social {
  .so-links {
    display: flex;
    justify-content: space-between;
    a {
      display: block;
      width: 80px;
      padding: 25px 0px;
      text-align: center;
      transition: 0.5s all ease;
      &:hover {
        width: 300px;
      }
      &.insta {
        &:hover {
          color: $light !important;
          background: #e1306c;
        }
      }
      &.linked {
        &:hover {
          color: $light !important;
          background: #0077b5;
        }
      }
      &.twitter {
        &:hover {
          color: $light !important;
          background: #000;
        }
      }
      &.facebook {
        &:hover {
          color: $light !important;
          background: #316ff6;
        }
      }
    }
  }
}
