.footer {
  position: relative;

  .footer-cta {
    background-color: #0c2661;

    .content {
      display: inline-flex;
      padding: 42px 0;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      h3 {
        &.text {
          color: $light;
          font-family: $ibrand;
          font-size: 2.25rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        &.email {
          a {
            color: #e2e2e2;
            font-family: $urbanist;
            font-size: 3.62rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration: none;
            display: inline;
            padding-bottom: 0;
            transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
            background-image: linear-gradient(
              to bottom,
              currentColor 0%,
              currentColor 98%
            );
            background-size: 0 2px;
            background-repeat: no-repeat;
            background-position: left 90%;
            overflow: visible !important;

            // Apply the animation
            animation: backgroundSizeRepeatAnimation 4s ease-in-out infinite;

            // Adding keyframes for the repeat animation
            @keyframes backgroundSizeRepeatAnimation {
              0% {
                background-size: 0 2px;
              }

              50% {
                background-size: 100% 2px;
              }

              100% {
                background-size: 0 2px;
              }
            }

            &:hover {
              color: $secondary;
            }
          }
        }
      }
    }
  }

  .footer-liks {
    background: $primary;
    padding: 33px 0 10px;

    .footer-box {
      h4 {
        color: $light;
        font-family: $urbanist;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 16px;
      }

      ul {
        li {
          margin-bottom: 10px;

          a {
            color: #d3d3d3;
            font-family: $urbanist;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
            transition: all 0.3s linear;
          }

          &:hover {
            a {
              color: $secondary;
            }
          }
        }
      }
    }

    .social {
      //   display: flex;
      //   align-items: center;
      //   justify-content: space-between;

      h2 {
        a {
          color: #fff;
          font-family: $ibrand;
          font-size: 6.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          // background: linear-gradient(
          //   120deg,
          //   rgba(255, 255, 255, 1) 30%,
          //   #aaaaaa 50%,
          //   #929191 70%,
          //   rgba(255, 255, 255, 1) 90% // Ending with bright white
          // );
          // background-size: 200%;
          // background-clip: text;
          // -webkit-background-clip: text;
          // color: transparent;
          // animation: shine-text 3s infinite;
        }
      }

      // @keyframes shine-text {
      //   0% {
      //     background-position: 200%;
      //   }
      //   100% {
      //     background-position: -200%;
      //   }
      // }

      ul {
        display: flex;
        align-items: center;
        padding-left: 50px;

        li {
          a {
            color: #fff;
            transition: all 0.3s linear;

            &.twitter {
              display: flex;
              gap: 0px;
              justify-content: center;
              span {
                display: none;
                i {
                  font-style: normal;
                }
                &.x {
                  display: block;
                  text-decoration: none;
                  opacity: 1;
                }
              }
            }
          }

          &:hover {
            a {
              color: $secondary;
              &.twitter {
                span {
                  display: block;
                  opacity: 1;
                  text-decoration: line-through;
                  i {
                    opacity: 0;
                  }
                  &.x {
                    text-decoration: none;
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }

    .copyright {
      display: flex;
      padding: 15px 0;
      justify-content: space-between;

      p {
        color: #d3d3d3;
        font-family: $urbanist;
        font-size: 0.91rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        a {
          color: #d3d3d3;
          font-family: $urbanist;
          font-size: 0.91rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          transition: all 0.3s linear;

          &:hover {
            color: $secondary;
          }
        }
      }

      .term {
        display: flex;
        gap: 20px;

        a {
          color: #d3d3d3;
          font-family: $urbanist;
          font-size: 0.91rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          transition: all 0.3s linear;

          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }
}

.social {
  .so-links {
    display: flex;
    justify-content: space-between;
    a {
      display: block;
      width: 80px;
      padding: 25px 0px;
      text-align: center;
      transition: 0.5s all ease;
      &:hover {
        width: 300px;
      }
      &.insta {
        &:hover {
          color: $light !important;
          background: #e1306c;
        }
      }
      &.linked {
        &:hover {
          color: $light !important;
          background: #0077b5;
        }
      }
      &.twitter {
        &:hover {
          color: $light !important;
          background: #000;
        }
      }
      &.facebook {
        &:hover {
          color: $light !important;
          background: #316ff6;
        }
      }
    }
  }
}

// kfoep
// $duration: 5s;
// $text-color: rgba(255, 255, 255, 0.3);
// $bgr-color: #333;

// .shine {
//   font-size: 3em;
//   margin: 0 auto;
//   margin-bottom: 1em;
//   font-weight: bold;
// }

// .shine {
//   background: #222 -webkit-gradient(
//       linear,
//       left top,
//       right top,
//       from(#222),
//       to(#222),
//       color-stop(0.5, #fff)
//     ) 0 0 no-repeat;
//   -webkit-background-size: 150px;
//   color: $text-color;
//   -webkit-background-clip: text;
//   -webkit-animation-name: shine;
//   -webkit-animation-duration: $duration;
//   -webkit-animation-iteration-count: infinite;
//   text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
// }

// @keyframes shine {
//   0%,
//   10% {
//     background-position: -1000px;
//   }
//   20% {
//     background-position: top left;
//   }
//   90% {
//     background-position: top right;
//   }
//   100% {
//     background-position: 1000px;
//   }
// }

// kfoep
