.navbar {
  width: 100%;
  position: relative;
  padding: 15px 0;
  background-color: $background;
  &.second-navbar{
    .navbar-content{
      .navlinks{
        display: none;
      }
      .userlog{
        display: flex;
      }
    }
  }
  .container {
    position: relative;

    @include min-xxl20{
      min-width: 1880px;
    }
  }
  .navbar-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .logo {
      img {
        width: 65px;

        @include min-xxl{
          width: 4.758vw;
        }
      }
    }
    .navlinks {
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        position: absolute;
        border-radius: 8px;
        top: 50%;
        left: 50%;
        padding: 17px 40px;
        transform: translate(-50%, -50%);
        li {
          padding: 0 15px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 1px;
            top: 0;
            right: 0;
            background: #d7d7d7;
          }
          &:last-child {
            &::after {
              display: none;
            }
          }
          a {
            color: $grey;
            font-size: 16px;
            font-weight: 400;
            padding: 6px 20px;

            @include min-xxl(){
              font-size: 1.171vw;
            }

            &.active {
                color: $primary;
                font-weight: 600;
            }
          }
          
        }
      }
      .auth-links {
        display: flex;
        gap: 30px;
        align-items: center;
        .ali {
          text-align: center;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 0.36px;
          color: $primary;

          @include min-xxl{
            font-size: 1.318vw;
          }
        }
      }
    }
    .userlog{
      display: none;
      align-items: center;
      ul{
        display: flex;
        gap: 20px ;
        li{
          align-items: center;
          display: flex;
          a{
            position: relative;
            border-radius: 10px;
            padding: 1px;
            overflow: hidden;
           
            &.cart{
              &::after{
                content: "";
                position: absolute;
                height: 115%;
                width: 115%;
                top: 0;
                left: 0;
                border-radius: 0px;
                // border: 1px solid var(--hower-border, rgba(0, 31, 99, 0.00));
                background: var(--hower-border, linear-gradient(187deg, rgba(0, 31, 99, 0.00) 37.6%, #122C65 79.95%, #42FFFF 100.76%));
                background-repeat: no-repeat;
                animation: cardrotate 2s ease-out infinite;
                -webkit-animation: cardrotate 2s ease-out infinite;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                -ms-border-radius: 0px;
                -o-border-radius: 0px;
                background-size: cover;
            }
            }
            
            .cardbg{
              background: #FFF;
              border-radius: 10px;
              padding: 8px;
              position: relative;
              z-index: 1;
              img{
                height: 27px;
                width: 27px;
              }
              .span{
                position: absolute;
                background: #122C65;
                color: #ffffff;
                height: 20px;
                width: 20px;
                top: 5px;
                right: 3px;
                border-radius: 50%;
                font-size: 13px;
                justify-content: center;
                place-items: center;
                display: flex;
              }
            }
          
          }
          .dropdown{
            .btn{
              background-color: transparent ;
              border: none;
              color: #303030;
              text-align: center;
              font-family: $urbanist;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 16px; /* 114.286% */
              padding: 5px 10px;
              transition: all .3s linear;
              
              &.dropdown-toggle::after{
                display: none;
              }
              .userprofile{
                img{
                  height: 42px;
                  width: auto;
                  border-radius: 50%;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  -ms-border-radius: 50%;
                  -o-border-radius: 50%;
                  margin-right: 10px;
                }
              }
            }
            .dropdown-menu{
              border: none;
              margin-top: 5px;
              border-radius: 10px;
              background: #FFF;
              box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.05);
              padding: 0;
              width: 100%;
              max-width: 250px;
              
              a{
                &:first-child{
                  padding-top: 15px;
                }
                &:last-child{
                  padding-bottom:15px ;
                }
                color: $dark;
                font-family: $urbanist;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: capitalize;
                padding: 7px 17px;
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                &:active{
                  background-color: #fff;
                }
              }
            }
            &:hover,&.show{
              .btn{
                background-color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
@keyframes cardrotate {
  0% {
    rotate: 360deg;
  }

  100% {
    rotate: 45deg;
  }


  
}
